*{
    padding: 0;
    margin: 0;
}


nav{
    font-family: 'Nunito Sans', sans-serif; 
    background-color: #FFDB34ED;

}

nav ul{
    margin: 0 40px 30px 50px;
    
}

nav ul li{
   display: inline-block;
   margin: 30px 0 30px;
   padding: 10px;
   
}

.banner{
    margin: -35px;
    filter: brightness(50%);
    max-width: 100%;
    z-index: -2;
    position: relative;
}

span {
    color: red;
}

.logo{
    z-index: 10;
    margin: -550px 200px 40px 450px;

}


.bob h2{
    margin: 400px 0 0 80px;
}

p{
    width: 100ch;
    margin: 10px 0 0 80px;
}

#order button{
    font-family: 'Nunito Sans', sans-serif; 
    background-color: #FFDB34ED;
    margin: 0 0 0 600px;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
  
}

.burger {
    margin: -100px 0px 0 900px ;
}

#menu button {
    font-family: 'Nunito Sans', sans-serif; 
    background-color: #FFDB34ED;
    margin: 20px 0 0 80px;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
}

.contact{
    background-color: lightgray;
}

.dine h2{
    background-color: lightgray;
    margin: 100px 0 0 0px;
    padding: 60px 0 0 500px;
    text-transform: uppercase;
}

.out p{
    width: 100ch;
    margin: 10px 0 0 500px;

}

.headshot{
    margin: -150px 0 0 200px;
}

#contact button {
    font-family: 'Nunito Sans', sans-serif; 
    background-color: #FFDB34ED;
    margin: 20px 0 0 500px;
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    height: 60px;
    text-transform: uppercase;
}

hr {
    height:20px;
    border-width:0;
    background-color: #FFDB34ED;
  }

footer {
    background-color: black;
    text-decoration-line: overline;
   
}

.end{
    margin: 0px 0 0 500px;
    padding: 40px 0 0 0;
}