* {
  padding: 0;
  margin: 0;
}
nav {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #FFDB34ED;
}
nav ul {
  margin: 0 40px 30px 50px;
}
nav ul li {
  display: inline-block;
  margin: 30px 0 30px;
  padding: 10px;
}
.banner {
  margin: -35px;
  filter: brightness(50%);
  max-width: 100%;
  z-index: -2;
  position: relative;
}
span {
  color: red;
}
.logo {
  z-index: 10;
  margin: -550px 200px 40px 450px;
}
.orderbutton {
  margin: 50px 100px 0 580px;
}
.button {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
  color: red;
  background: yellow;
}
h2 {
  font-family: 'Nunito Sans', sans-serif;
  background-color: white;
  margin: 250px 0 0 0;
}
