* {
  margin: 0;
  padding: 0;
}
.card {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
}
.heading {
  text-transform: uppercase;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}
nav {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8df1f;
  padding: 0 15px;
}
nav ul {
  margin: 0 40px 30px 50px;
}
nav ul li {
  display: inline-block;
  margin: 30px 0 30px;
  padding: 10px;
}
.banner {
  margin: -35px;
  filter: brightness(50%);
  max-width: 100%;
  z-index: -2;
  position: relative;
}
span {
  color: #ee252f;
}
.logo {
  z-index: 10;
  margin: -550px 200px 40px 450px;
}
.bob h2 {
  margin: 400px 0 0 80px;
  font-size: 30px;
  color: #050500;
  font-weight: 500px;
  text-transform: uppercase;
}
p {
  width: 60ch;
  margin: 10px 0 0 80px;
  font-size: 30px;
  color: #080801;
  font-weight: 500;
  flex-wrap: wrap;
}
#order button {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  margin: 0 0 0 600px;
  padding: 20px;
  width: 180px;
  height: 60px;
}
.burger {
  margin: -300px 0px 0 990px;
  max-width: 100%;
}
#menu button {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  margin: 20px 0 0 80px;
  padding: 20px;
  width: 150px;
  height: 60px;
}
.contact {
  background-color: #f3f3f3;
}
.dine h2 {
  background-color: #f3f3f3;
  margin: 120px 0 0 0px;
  padding: 60px 0 0 480px;
  text-transform: uppercase;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}
.out p {
  width: 60ch;
  margin: 10px 0 0 480px;
  flex-wrap: wrap;
}
.headshot {
  margin: -150px 0 0 200px;
  max-width: 100%;
}
#contact button {
  margin: 20px 0 0 500px;
  padding: 20px;
  width: 180px;
  height: 80px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #f8df1f;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
}
hr {
  height: 20px;
  border-width: 0;
  background-color: #f8df1f;
}
footer {
  background-color: #080801;
  text-decoration-line: overline;
}
.end {
  margin: 0px 0 0 500px;
  padding: 40px 0 0 0;
}
/* Responsive layout - when the screen is less than 700px wide, make */
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}
